.about
  .about__wrap
    .about__inner
      h2.title.about__title О нас
      p.about__text Egestas sed ac neque egestas pharetra. Justo enim augue a ut donec convallis mi. Nibh euismod ut donec nisi eget vulputate proin. Semper eros, fusce elit elit vitae molestie malesuada. Est dictum integer tortor, sed ultricies quis elit tincidunt sapien. Justo libero at urna blandit netus molestie netus.  Sollicitudin ornare ligula blandit at vel lacus. Maecenas et,  quam ipsum sit. Platea felis ornare vitae id amet ut aliquam dolor, egestas. Sed quis amet faucibus  dui mattis. Fermentum aenean mattis arcu sit eu,  augue pharetra. Eu cras nunc urna, et sapien turpis  blandit. Nisi tellus orci, vel lacus lacus.  Malesuada eleifend velit blandit diam est nibh turpis. Lacinia nulla etiam scelerisque vitae arcu.
      a(href="#").about__register Каталог
        svg(xmlns="http://www.w3.org/2000/svg").about__arrow
          use(xlink:href="sprite/sprite.svg#about_arrow")
