section.catalog
  .catalog__wrap
    h2.title.catalog__title Каталог
    .swiper-container.catalog__container
      .swiper-wrapper.catalog__wrapper
        .swiper-slide
          .catalog__slide  
            img.catalog__slide-photo(src="img/swiper/1.jpg" alt="photo")
            .catalog__slide-inner
              h3.catalog__slide-title Свадебное платье
              span.catalog__slide-price 3000 сом в день
              a(href="dress.html" target="_blank").catalog__slide-more Подробнее
                svg.catalog__slide-icon
                  use(xlink:href='sprite/sprite.svg#arrow')
        .swiper-slide
          .catalog__slide 
            img.catalog__slide-photo(src="img/swiper/2.jpg" alt="photo")
            .catalog__slide-inner
              h3.catalog__slide-title Свадебное платье
              span.catalog__slide-price 3000 сом в день
              a(href="dress.html").catalog__slide-more Подробнее
                svg.catalog__slide-icon
                  use(xlink:href='sprite/sprite.svg#arrow')
        .swiper-slide
          .catalog__slide 
            img.catalog__slide-photo(src="img/swiper/3.jpg" alt="photo")
            .catalog__slide-inner
              h3.catalog__slide-title Свадебное платье
              span.catalog__slide-price 3000 сом в день
              a(href="dress.html" target="_blank").catalog__slide-more Подробнее
                svg.catalog__slide-icon
                  use(xlink:href='sprite/sprite.svg#arrow')
        .swiper-slide
          .catalog__slide 
            img.catalog__slide-photo(src="img/swiper/1.jpg" alt="photo")
            .catalog__slide-inner
              h3.catalog__slide-title Свадебное платье
              span.catalog__slide-price 3000 сом в день
              a(href="dress.html" target="_blank").catalog__slide-more Подробнее
                svg.catalog__slide-icon
                  use(xlink:href='sprite/sprite.svg#arrow')
        .swiper-slide
          .catalog__slide 
            img.catalog__slide-photo(src="img/swiper/1.jpg" alt="photo")
            .catalog__slide-inner
              h3.catalog__slide-title Свадебное платье
              span.catalog__slide-price 3000 сом в день
              a(href="dress.html" target="_blank").catalog__slide-more Подробнее
                svg.catalog__slide-icon
                  use(xlink:href='sprite/sprite.svg#arrow')
      .swiper-pagination
      .catalog__navigation
        .catalog__button-prev.catalog__button
          svg.catalog__button-icon
            use(xlink:href='sprite/sprite.svg#arrow_swiper')
        .catalog__button-next.catalog__button
          svg.catalog__button-icon
            use(xlink:href='sprite/sprite.svg#arrow_swiper')
      .swiper-scrollbar
