section.galery
  .galery__container
    h2.title.galery__title Галерея
    .galery__wrap
      .galery__img
        picture
          source(type='image/webp' srcset='img/galery/1.webp')
          img(src="img/galery/1.jpg" alt="galery")
      .galery__img
        picture
          source(type='image/webp' srcset='img/galery/2.webp')
          img(src="img/galery/2.jpg" alt="galery")
      .galery__img
        picture
          source(type='image/webp' srcset='img/galery/3.webp')
          img(src="img/galery/3.jpg" alt="galery")
      .galery__img
        picture
          source(type='image/webp' srcset='img/galery/4.webp')
          img(src="img/galery/4.jpg" alt="galery")
      .galery__img
        picture
          source(type='image/webp' srcset='img/galery/5.webp')
          img(src="img/galery/5.jpg" alt="galery")
      .galery__img
        picture
          source(type='image/webp' srcset='img/galery/6.webp')
          img(src="img/galery/6.jpg" alt="galery")