header.header
  .container.header__container
    .header__logo Свадебные платья от Нурии
    .header__menu
      .header__link
  .header__content
    .container
      .header__inner
        .header__title Возьми свадебное платье на лучший день в своей жизни
        button.header__btn Заказать 