<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Pacifico&display=swap")
    link(rel="stylesheet" href="css/style.css")
    title Document
  body
    include includes/header.pug
    include includes/about.pug
    include includes/galery.pug
    include includes/catalog.pug
    include includes/footer.pug
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="js/main.js")